/Makefile.local
/.depend
/prepared

# log files
*.log

# databases
/PTree*/
entries*.sqlite
entries*.sqlite-journal
partners*.sqlite
partners*.sqlite-journal

# objects
*.annot
*.cmi
*.cmo
*.cma
*.cmx
*.cmxa
*.o
*.a
*.bc

# executables
/bdb/ocextr
/cryptokit-1.0/
/lib/
/trieserver
/sks
/sks_add_mail

# python objects
*.pyc

# vim
.*.swp
