/Makefile.local
/.depend
/prepared

# database directory
/PTree/

# objects
*.annot
*.cmi
*.cmo
*.cma
*.cmx
*.cmxa
*.o
*.a
*.bc

# executables
/bdb/ocextr
/cryptokit-1.0/
/lib/
/testadd
/testlist
/testserver
/testclient
/testtrie
/sks
/sks_add_mail

# sockets
server.ocaml2py.sock
client.ocaml2py.sock

# vim
.*.swp
