/Makefile.local
/.depend
/prepared

# database directory
/PTree/

# objects
*.annot
*.cmi
*.cmo
*.cma
*.cmx
*.cmxa
*.o
*.a
*.bc

# executables
/bdb/ocextr
/cryptokit-1.0/
/lib/
/testadd
/testlist
/testserver
/testclient
/sks

# vim
.*.swp
